@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn{
    @apply bg-[#ff4D41] text-white py-2 px-4 rounded inline-block mt-10 font-medium border border-[#ff4D41] hover:bg-transparent hover:text-[#ff4D41] transition duration-200
  }
  .inputStyle{
    @apply outline-[#ff4D41] border-gray-400 border rounded-[5px] px-4 py-2 w-[100%]
  }
  .too-image{
    animation: profile__animate 8s ease-in-out infinite 1s;
  }

  @keyframes profile__animate {
    0%{
      border-radius:60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
      border-radius:30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
      border-radius:60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

}


